<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"> 
   
   
<title>My project page</title>

  </head>
  <body>

<div id="header">

<div id="header-title"> <b>Source of Knowledge <br/> </b> </div>
<div id="header-description"> New skills and improved skills. </div>


</div>
<div id="menu">
<a href="/login">Admin LogIN</a>
</div>

<br>
 


  
<div id="developer"  style="cursor: pointer;" onclick="window.location='/developer.html';">
<b> Developer </b>
</div>


<div id="design"  style="cursor: pointer;" onclick="window.location='/design';">
<b> Design </b>
</div>


<div id="web"  style="cursor: pointer;" onclick="window.location='/web';">
<b> Web </b>
</div>


<div id="photography"  style="cursor: pointer;" onclick="window.location='/photography';">
<b> Photography </b>
</div>


<div id="education"  style="cursor: pointer;" onclick="window.location='/education';">
<b> Education </b>
</div>


<div id="business"  style="cursor: pointer;" onclick="window.location='/business';">
<b> Business </b>
</div>

 </body>
</html>