<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="public/stylesheets/admin-style.css">
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Admin Log In Page</h1>
      <form action="/login" method="post">
		<label>Username:</label>
        <p><input type="text" name="username" /></p>
		 <label>Password:</label>
        <p> <input type="password" name="password" /></p>
        <p><input type="submit" value="LogIn" /></p>
      </form>
    </div> 
  </section>
  
</body>
</html>
